REPAIR_DESK_SESSION_SECRET=change-this-session-secret
REPAIR_DESK_OWNER_USERNAME=er4gadgets
REPAIR_DESK_OWNER_PASSWORD=Humberto11
REPAIR_DESK_OWNER_NAME=Store Owner
REPAIR_DESK_STAFF_USERNAME=staff
REPAIR_DESK_STAFF_PASSWORD=staff1234
REPAIR_DESK_STAFF_NAME=Staff
